/* Write your CSS here */
.home-bg-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-responsive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.home-bg-dark {
  background-color: #000000;
}
.home-bg-light {
  background-color: #ffffff;
}
.home-navbar-text-light {
  color: #ffffff;
}
.home-navbar-text-dark {
  color: #171f46;
}
.home-image {
  height: 125px;
}
